@model EmployeesCrud.Models.Employee

<form asp-action="Edit" method="post" class="Create col-md-4 card container">
	<h2>Employee form</h2>
	
	<div class="card-header">
		<div class="form-group">


			FirstName:<input asp-for="FirstName" class="form-control"></input><br />
		</div>
		<div clss="form-group">
			LastName:<input asp-for="LastName" class="form-control"></input>

		</div><br />
		<div class="form-group">

			Gender:<select asp-for="Gender" class="form-control">
				<option value="">Select Gender</option>
				<option>Male</option>\
				<option>female</option>

			</select>
		</div><br />
		<div class="form-group">

			<label asp-for="DOB"></label>
			<input asp-for="DOB" class="form-control" />
			<span asp-validation-for="DOB" class="text-danger"></span>

		</div><br />
		<button type="submit" class="btn btn-primary">Update</button>

	</div>
	





</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
@section Styles {
	<link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
}
