
body {
    background-color:aliceblue;
}

.Create {
    background-color:azure;
    border-radius: 10px;
    border-color: black;
}

.form-control {
    background-color: aliceblue;
    border-radius: 10px;
    border-color: black;
}

.btn {
    background-color:aquamarine;
}
.btn:hover {
    background-color:green;
    color:azure;
}
.form-select {
    background-color: aliceblue;
    border-radius: 10px;
    border-color: black;
}

