
body {
    background-color: aliceblue;
}

.Create {
    background-color:aliceblue;
    border-radius: 10px;
    border-color: black;
}

.form-control {
    background-color: aliceblue;
    border-radius: 10px;
    border-color: black;
}

.btn {
    background-color:rebeccapurple;
}

.btn:hover {
        background-color:green;
        color:aliceblue;
}
