/*body {
    background-color: white;
}*/
.custom-btn {
    background-color: forestgreen;
    color: black;
    border-radius: 10px;
    border-color: black;
}

    .custom-btn:hover {
        background-color: antiquewhite;
        color: black;
    }

.table td,
.table th {
    padding: 6px 10px;
    vertical-align: middle;
    line-height: 1.2;
}

.btn-sm {
    padding: 2px 8px;
    font-size: 0.85rem;
  

}
.custom-btn1 {
    background-color:orange;

}
.custom-btn2 {
    background-color:red;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
   
   
}
.button {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}
.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    width: 50%;
}
#editBtn {
    color: black;
    background-color: orange;
    color: #000000;
    border-color: Background;
    box-shadow: inherit;
    border-radius: 5px;
}
#deleteBtn {
    color: black;
    background-color: red;
    color: #000000;
    border-color: Background;
    box-shadow:initial;
    border-radius:5px;
}
.table-container {
    width: 100%;
/*    display: flex;
    margin:auto;
    justify-content: center;*/
   
}
.index-container {
    display:flex;
    flex-direction:column;
    width: 800px;
    margin: auto;
/*    align-content:center;
    align-items:center;
    justify-content:flex-end;*/
}
#search {
    background-color: cornsilk;
    color:#000000;
}
/* Modal Background */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

/* Modal Box */
.modal-content {
    background: white;
    width: 400px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}

.search-submit {
    background: royalblue;
    color: white;
}
.search {
    background-color:#0d88ac;
    opacity:70;
    color: #000000;
    border-radius: 5px;
    border-color:Background;
    box-shadow:inherit;
}
.page {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    color:#180feb;
}
.page-item{
    color:red;
}
.table th a {
    color: black;
    text-decoration: none;
}
.table{
    table-layout:fixed;
    width:auto;
}
.col-id{
    width:20px;
}
.col-name {
    width:50px;
}
.col-dob {
    width:30px;
}
.col-gender {
    width: 20px;
}
.col-select {
    width: 10px;
}
h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}








