/*body {
    background-color: white;
}*/
.custom-btn {
    background-color: forestgreen;
    color: black;
    border-radius: 10px;
    border-color: black;
}

    .custom-btn:hover {
        background-color: antiquewhite;
        color: black;
    }

.table td,
.table th {
    padding: 6px 10px;
    vertical-align: middle;
    line-height: 1.2;
}

.btn-sm {
    padding: 2px 8px;
    font-size: 0.85rem;
  

}
.custom-btn1 {
    background-color:orange;

}
.custom-btn2 {
    background-color:red;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50%;
}
.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    width: 50%;
}
#editBtn {
    color:black;
    background-color: orange;
    
}
#deleteBtn {
    color:black;
    background-color: red;
}
.table-container {
    width: 50%;
    display: flex;
    
    justify-content: center;
   
}
.index-container {
    width: 100%;
    margin: 0 auto;
    align-content:center;
    align-items:center;
    justify-content: center;
}
#search {
    background-color: cornsilk;
    color: black;
}
/* Modal Background */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

/* Modal Box */
.modal-content {
    background: white;
    width: 400px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}

.search-submit {
    background: royalblue;
    color: white;
}








